extends layout 
block content
    form(method="POST" action="/user/login")
        div.mb-3
            label(for="exampleInputEmail1" class="form-label") Email address
            input(type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp")
            div#emailHelp.form-text We'll never share your email with anyone else.
        div.mb-3
            label(for="exampleInputPassword1" class="form-label") Password
            input(type="password" class="form-control" name="password" id="exampleInputPassword1")
        button(type="submit" class="btn btn-primary d-block mx-auto my-5") Login